.todoapp {
    margin: 15px;
}

.todoapp-addtodo,
.todoapp-todofilter,
.todoapp-visibletodos{
    margin: 15px 0;
}

/**
 * AddTodo
 */
.todoapp-addtodo-btnWrapper{
    float: right;
    width: 100px;
    margin-left: 10px;
}
.todoapp-addtodo-inputWrapper{
    overflow: auto;
}

/**
 * TodoFilter
 */
.todoapp-todofilter{
    text-align: center;
}


/**
 * VisibleTodos
 */
.todoapp-visibletodos{
    height: 200px;
    overflow: auto;
}
.todoapp-visibletodos-todo {
    line-height: 1.5;
}
.todoapp-visibletodos-todo.complete{
    text-decoration: line-through;
}
