.todoapp {
    width: 500px;
}

/**
 * AddTodo
 */
.todoapp-addtodo {
    display: flex;
    flexDirection: row;
}
.todoapp-addtodo-text {
    flex: 1;
    font: normal 14px/1 "微软雅黑";
}
.todoapp-addtodo-btnadd {
    width: 80px;
    font: normal 14px/1 "微软雅黑";
}

/**
 * VisibleTodos
 */
.todoapp-visibletodos{
    height: 200px;
    overflow: auto;
}
.todoapp-visibletodos-todo {
    display: inline-flex;
    flexDirection: row;
    align-items: center;
    font: normal 14px/1 "微软雅黑";
}
.todoapp-visibletodos-todo.complete{
    text-decoration: line-through;
}

/**
 * TodoFilter
 */
.todoapp-todofilter {
    margin: 20px 0;
}

.todoapp-todofilter-label,
.todoapp-todofilter-btn{
    min-width: 40px;
    font: normal 14px/1 "微软雅黑";
    margin-right: 20px;
}
.todoapp-todofilter-btn.active{
    color: red;
    font-weight: bold;
}